.icon-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #fff;
  flex-shrink: 0; /* Prevents it from being crushed by flex */
}

//For the quantity form
.custom-width-input-quantity-form {
  width: 130px !important;
}

@media (max-width: 440px) {
  .custom-width-input-quantity-form, .measure-select, .material-select {
    width: 100px !important;
    font-size: 10px !important;
  }
   .btn-person{
    font-size: 12px !important;
  }
}